:root {
/*
  --background-img: linear-gradient(black, #636363 );
  --color-1 :white;
  --color-2 : #121212;
  */
  --background-img: linear-gradient(white, #c5b7b7 );
  --color-1 : black;
  --color-2 : rgb(201, 176, 176);
  --gcol : rgb(3, 94, 3);
} 
.dark-theme {

  
  --background-img: linear-gradient(black, #636363 );
  --color-1 :white;
  --gcol: greenyellow;
  --color-2 : #121212;
}
body {
  margin: 0;
  padding: 0;
  color: var(--color-1);
  background-image: var(--background-img);

 /* background-color: #121212;*/
  font-family: 'Russo One', cursive;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  

}
.mode {

  width: 30px;
  cursor: pointer;
}
div {

  margin: 0;
  padding: 20px;
}
.skills {

  margin: 0px;
  padding: 20px;
}
.exp:nth-child(odd) {
  
  float: left;
  clear: both;
  transform: translateX(-35px);
}
.exp:nth-child(even) {

  float: right;
  clear: both;
  transform: translateX(35px);
}
.content {

  text-align: center;
}
.experience::before {
  content: "";
  position: absolute;
  background-color: var(--color-1);
  width: 5px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

}
.badges {

height: 200px;
width: 200px;
border-radius: 50%;
background: linear-gradient(145deg, #101010, #131313);
box-shadow:  10px 10px 20px #070707,
             -10px -10px 20px #1d1d1d;
}
.experience {

  position: relative;
}

.exp {

margin: 30px;
padding: 40px;
position: relative;
border-radius: 30px;
width: calc(50% - 50px);
background: linear-gradient(145deg, #1b1b1b, #171717);
box-shadow: 9px 9px 18px #0a0a0a;
  
}
.exp::before {

  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 10px;
  background-color: var(--color-1);
  border-radius: 50%;
  left: -78px;

}
.exp::after {

  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 25%;
  left: 96%;
  /*background-color: #191919;*/
  transform: rotate(45deg);
}
.exp:nth-child(even)::after {

  /*background-color: #1b1b1b;*/
  left: -3%;
}
.exp:nth-child(odd)::before {

  left: 106%;
}
.card {
  margin: 30px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 300px;
}
span {

  border-right: 0.2rem solid #777;
}
.photo {

  text-align: center;
}

.container-fluid{
  margin: 0;
  width: 100%;
  height: 700px;
  padding: 0px;
  /*background-color: black;*/
  text-align: center;
  position: relative;
}

.icon {
  display: block;
  margin: 10px;
  width: 50px;
  height: 50px;
}

.contact {
  margin: 5px;
  padding: 5px;
  position: fixed;
  height: 250px;
  width: 5%;
  bottom: 0px;
  
}
li {

  list-style: none;
  float: left;
  padding: 20px;
  color: gray;
}
.container  {

  position: absolute;
  top: 40%;
  width: 100%;
}
.content {  
  text-align: center;
  padding: 30px;
}
.green {

  color: var(--gcol);
  /*color: greenyellow;*/
}
.intro {
  
  margin: 10px;
  padding: 40px;
}
.altFont {

  font-family: 'Roboto Mono';
}
.about {

  margin: 20px;
  padding: 10px;
}

.reveal {

  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
}
.reveal.active {

  transform: translateY(0);
  opacity: 1;
}

@media only screen and (max-width: 750px) {

  .exp {
    width: 100%;
  }
  
  .exp::after {

    display: none;
  }
  .exp::before {

    display: none;
  }
  .experience::before {

    display: none;
  }

}