body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #121212;
  font-family: 'Russo One', cursive;
 /* overflow: scroll;
*/
}
span {

  border-right: 0.2rem solid #777;
}

.text-effect > .cursor {

  border-right: 0.2rem solid #777;
}
/*
.text-effect > .cursor {

 /* border-right :3px solid;
 border-right: 0.2rem solid #777;
}
*/
.container-fluid{

  width: 100%;
  height: 600px;
  padding: 40px;
 /* background-image: url("images/darkBg.png");
  background-position: 100%;
  background-size: 100% 100%;
  */
  background-color: black;
  text-align: center;
  position: relative;
}
.navbar {
  text-align: right;
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
}
li {

  list-style: none;
  float: left;
  padding: 20px;
}
.content {
  
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  padding: 30px;
}
.type-effect {

  color: rgb(36, 107, 3);
}
.intro {
  
  margin: 10px;
  padding: 40px;
}
.cl {

  font-family: 'Roboto Mono';
  
  
}                    
  